html{
    background: radial-gradient(rgb(200,200,100),rgb(180,180,80));
    min-height: 480px;
    padding:0;
    margin: 0;
}
h1{
	margin:0;
}
body{
    background: radial-gradient(hsl(70, 100%, 90%),hsl(60, 77%, 81%));
    min-height: 480px;
    width: 100%;
    padding: 2%;
    border-radius: 4%;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    margin:0;
}
input,button,select,label{
    font-size: 1.3em;
    height: 2em;
}
button{
    width: 15%;
    height: 15%;
}
input{
    width: 40%;
    height: 2em;
    padding: 0;
}
div div{
    margin: 10px 0;
}
table{
    width: 100%;
    margin-top: 10px;
}
th,td{
    background: radial-gradient(hsl(60, 77%, 75%), hsl(60, 100%, 44%));    
    padding: 5px;
    text-align: center;
}
td{
    background: radial-gradient(hsl(70, 100%, 84%),hsl(60, 77%, 75%));    
    padding: 5px;
}
tbody tr:first-child td{
    background: radial-gradient(hsl(50, 100%, 64%),hsl(60, 77%, 75%)); 
    font-weight: bold;
}

p,a {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    text-align: center;
    margin-top: 50px;
}
@media screen and (min-width: 500px){
    body{
        width: 500px;
        margin: auto;
    }
}